binaries/ filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jnr-posix-3.0.51.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jruby-9.2.9.0.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jzlib-1.1.1.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/javax.annotation-api-1.3.1.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jnr-netdb-1.1.6.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jffi-1.2.22.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jnr-enxio-0.23.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/bcpg-jdk15on-1.64.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jcodings-1.0.45.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jruby-core-9.2.9.0.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/org.eclipse.jgit-5.7.0.202003110725-r.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/wildfly-common-1.5.1.Final.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/asciidoctorj-2.2.0.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/asciidoctorj-api-2.2.0.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/invokebinder-1.11.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jcommander-1.72.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/options-1.4.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/picocli-4.2.0.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/slf4j-api-1.7.2.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/bcprov-jdk15on-1.64.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/dirgra-0.3.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jsch-0.1.55.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/JavaEWAH-1.1.7.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/bcpkix-jdk15on-1.64.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jruby-stdlib-9.2.9.0.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jffi-1.2.22-native.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jnr-constants-0.9.14.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jboss-logmanager-2.1.14.Final.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/jnr-unixsocket-0.24.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/joda-time-2.10.5.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/joni-2.1.30.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/nailgun-server-0.9.1.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/asciidoc-splitter-1.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
binaries/splitter/backport9-1.3.jar filter=lfs diff=lfs merge=lfs -text
